services:
  tomcat:
    image: tomcat:11.0.15-jre21
    restart: unless-stopped
    ports:
      - ${TOMCAT_PORT_HTTP}:8080
    volumes:
      - "./webapps:/usr/local/tomcat/webapps"
      # Create your own tomcat-users.xml to enable the manager app
      # - "./tomcat-users.xml:/usr/local/tomcat/conf/tomcat-users.xml"
    entrypoint: |
      bash -c 'cp -a webapps.dist/manager webapps/; exec catalina.sh run'
    healthcheck:
      test: ["CMD-SHELL", "curl -fsSL http://localhost:8080 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    networks:
      - acepanel-network
networks:
  acepanel-network:
    external: true