services:
  tomcat:
    image: bitnami/tomcat:latest
    restart: unless-stopped
    environment:
      - TOMCAT_PASSWORD=${TOMCAT_PASSWORD}
    ports:
      - ${TOMCAT_PORT_HTTP}:8080
    volumes:
      - ./data:/bitnami/tomcat
    networks:
      - acepanel-network
networks:
  acepanel-network:
    external: true