services:
  umami:
    image: ghcr.io/umami-software/umami:${UMAMI_DB_TYPE}-v2.20.2
    restart: unless-stopped
    ports:
      - ${UMAMI_PORT_HTTP}:3000
    environment:
      DATABASE_TYPE: ${UMAMI_DB_TYPE}
      DATABASE_URL: ${UMAMI_DB_TYPE}://${UMAMI_DB_USER}:${UMAMI_DB_USER_PASSWORD}@${UMAMI_DB_HOST}:${UMAMI_DB_PORT}/${UMAMI_DB_NAME}
      APP_SECRET: ${HASH_SALT}
    healthcheck:
      test: [ "CMD-SHELL", "curl -fsSL http://localhost:3000 || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    networks:
      - acepanel-network
networks:
  acepanel-network:
    external: true