services:
  prometheus:
    image: prom/prometheus:v3.9.1
    restart: unless-stopped
    networks:
      - acepanel-network
    ports:
      - "${PROMETHEUS_PORT_HTTP}:9090"
    volumes:
      - ./conf:/etc/prometheus/
      - ./prometheus:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=200h'
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:9090/-/healthy || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
networks:
  acepanel-network:
    external: true
