services:
  prometheus:
    restart: always
    networks:
      - acepanel-network
    ports:
      - "${PROMETHEUS_PORT_HTTP}:9090"
    volumes:
      - ./conf:/etc/prometheus/
      - ./prometheus:/prometheus
    image: prom/prometheus:v3.9.1
    command: 
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=200h'
networks:  
  acepanel-network:  
    external: true
