services:
  nextcloud:
    image: linuxserver/nextcloud:33.0.0
    restart: unless-stopped
    networks:
      - acepanel-network
    ports:
      - "${NEXTCLOUD_PORT_HTTPS}:443"
    volumes:
      - "./data/config:/config"
      - "./data/data:/data"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${NEXTCLOUD_TIME_ZONE}
    healthcheck:
      test: [ "CMD-SHELL", "curl -fsSL https://localhost:443 -k || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
networks:
  acepanel-network:
    external: true
