services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2025-latest
    restart: unless-stopped
    networks:
      - acepanel-network
    ports:
      - ${MSSQL_PORT}:1433
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
    volumes:
      - ./data:/var/opt/mssql/data

networks:
  acepanel-network:
    external: true
