services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2025-latest
    restart: unless-stopped
    networks:
      - acepanel-network
    ports:
      - ${MSSQL_PORT}:1433
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
    volumes:
      - ./data:/var/opt/mssql/data
    healthcheck:
      test: [ "CMD", "/opt/mssql-tools18/bin/sqlcmd", "-S", "localhost", "-U", "sa", "-P", "${MSSQL_SA_PASSWORD}", "-Q", "SELECT 1", "-C" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
networks:
  acepanel-network:
    external: true
