services:
  elasticsearch:
    image: elasticsearch:9.2.4
    restart: unless-stopped
    networks:
      - acepanel-network
    ports:
      - "${ELASTICSEARCH_PORT_HTTP}:9200"
    volumes:
      - "./data/data:/usr/share/elasticsearch/data"
      - "./data/backup:/usr/share/elasticsearch/backup"
      - "./data/conf/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    environment:
      - discovery.type=single-node
      - ELASTIC_PASSWORD=${ELASTICSEARCH_PASSWORD}
      - xpack.security.enabled=${ELASTICSEARCH_SECURITY}
      - ${ELASTICSEARCH_JAVA_OPTS}
    healthcheck:
      test: ["CMD-SHELL", "curl -fsSL http://localhost:9200/_cluster/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
networks:
  acepanel-network:
    external: true
