services:
  nginx:
    image: nginx:1.29.4-alpine
    restart: always
    ports:
      - ${NGINX_PORT_HTTP}:80
      - ${NGINX_PORT_HTTPS}:443
    volumes:
      - ./html:/usr/share/nginx/html
      - ./conf.d:/etc/nginx/conf.d
      - ./certs:/etc/nginx/certs
    networks:
      - acepanel-network

networks:
  acepanel-network:
    external: true
